%h1 Listing entries

%table
  %tr
    %th Title
    %th Description
    %th Topic
    %th User
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.title
      %td= entry.description
      %td= entry.topic
      %td= entry.user
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
